.navbar-inverse {
    background-color: #e2f1fb;
    border: 1px solid blue;
}

.navbar-inverse .navbar-nav>li>a {
    color: #196bbd;
}

#middle-header.container {
    margin-bottom: 10px;
}

#title-header {
    background-color: #ffffff;
    /*border: 1px solid blue;*/
    padding: 10px 20px;
    margin: 2px 0px;
    
}



#full-nav.navbar.navbar-inverse {
    background-color: #ffffff;
    border:none;
    margin: 0px;
    padding: 0px;
    font-size: 26px;
}

#lead-header.header-panel {
    background-color: #e2f1fb;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid blue;
}

.panel {
    margin-bottom: 21px;
    background-color: #d4ecfd;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);


}

#header-row-img.row {
    background-color: #e2f1fb;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid blue;
}

.nav.navbar {
    margin: 0px;
    padding: 0px;
}

#logo-image {
    width:180px;
    height:50px;
}